<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>贵阳检察院</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<!--解决ie低版本不兼容h5新标签,不支持placeholder问题-->
</head>
<body>
    <!--头部star-->
    <div id="header">
        <div class="logo"><img src="img/logo.png" alt=""></div>
    </div>
    <!--头部end-->

    <!--主体star-->
    <div id="section">
        <div class="nav of">
             <ul class="of">
                <li><a href="">首页</a></li>
                <li><a href="">系统通知</a></li>
                <li><a href="">工作报告</a></li>
                <li><a href="">内部刊物</a></li>
                <li><a href="">资讯中心</a></li>
                <li><a href="">机关管理</a></li>
                <li><a href="">法律法规</a></li>
                <li><a href="">检察动态</a></li>
             </ul>
        </div>
        <!--部门导航-->
        <div class="department_nav">
            <img src="img/bumennav.png" alt="">
            <ul class="of">
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">政治部</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">办公室</a></li>
                <li><a href="" target="">刑事执行检察处 </a></li>
                <li><a href="" target="">民行处</a></li>
                <li><a href="" target="">控告处</a></li>
                <li><a href="" target="">申诉处</a></li>
                <li><a href="" target="">预防处</a></li>
                <li><a href="" target="">未检处</a></li>
                <li><a href="" target="">技术处</a></li>
                <li><a href="" target="">研究室</a></li>
                <li><a href="" target="">监察处</a></li>
                <li><a href="" target="">计财处</a></li>
                <li><a href="" target="">机关党办</a></li>
                <li><a href="" target="">案管办</a></li>
                <li><a href="" target="">目标办</a></li>
                <li><a href="" target="">基建办</a></li>
                <li><a href="" target="">服务中心</a></li>
                <li><a href="" target="">信息中心</a></li>
            </ul>
        </div>
        <!--部门导航end-->
        <!--最新更新-->
        <div class="NewUpdate of lf">
            <p class="column_Tit of">
                <a href="" class="more rt">更多 >></a>
                <span class="shenglue lf">检查风采</span>
            </p>
          <!--首页轮播 start--> 
                    <div id="index_banner" class="lf">
                        <div id="slides">
                            <div class="slides_container">
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-1.png" width="300" height="220" alt="Slide 1">
                                    </a>
                                    <div class="caption" style="bottom:0">
                                        <p>市委三届十次全体(扩大)会议召开-1</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-2.png" width="300" height="220" alt="Slide 2">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-2</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-3.png" width="300" height="220" alt="Slide 3">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-3</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-4.png" width="300" height="220" alt="Slide 4">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-4</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-5.png" width="300" height="220" alt="Slide 5">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-5</p>
                                    </div>
                                </div>
                                
                            </div>
                            <a href="#" class="prev"><</a>
                            <a href="#" class="next">></a>
                        </div>
                    </div>
            <!--首页轮播end-->  
            <!--列表-->
            <ul class="ullist lf of">
                <li><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                <li><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                <li><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                <li><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                <li><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                <li><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                <li><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                <li><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
            </ul>
            <!--列表end-->
        </div>
        <!--最新更新end-->
        <!--通知公告-->
        <div class="Notice of LMBOX">
            <p class="column_Tit of">
                <a href="" class="more rt">更多 >></a>
                <span class="shenglue lf">检查风采</span>
            </p>
            <ul class="ullist lf of">
                <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
            </ul>
        </div>
        <!--通知公告end-->
        <!--登录-->
        <div class="login_box lf">
            <p class="loginTit"><span>系统登录</span></p>
            <form action="" method="" name="">
                <input type="text" placeholder="请输入登录名">
                <input type="password" placeholder="请输入登录密码" class="pwd">
                <button type="submit">登录</button>
            </form>
        </div>
        <!--登录end-->
        <!--政策解读-->
        <div class="LMBOX common lf">
             <p class="column_Tit of">
                <a href="" class="more rt">更多 >></a>
                <span class="shenglue lf">政策解读</span>
            </p>
            <ul class="ullist lf of">
                <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
            </ul>
        </div>
        <!--政策解读end-->
        <!--人事信息-->
        <div class="LMBOX common lf">
             <p class="column_Tit of">
                <a href="" class="more rt">更多 >></a>
                <span class="shenglue lf">人事信息</span>
            </p>
            <ul class="ullist lf of">
                <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
            </ul>
        </div>
        <!--人事信息end-->
        <div class="commonBox">
            <!--文件信息-->
            <div class="LMBOX common lf">
                 <p class="column_Tit of">
                    <a href="" class="more rt">更多 >></a>
                    <span class="shenglue lf">文件信息</span>
                </p>
                <ul class="ullist lf of">
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                </ul>
            </div>
            <!--文件信息end-->
            <!--办事指南-->
            <div class="LMBOX common lf">
                 <p class="column_Tit of">
                    <a href="" class="more rt">更多 >></a>
                    <span class="shenglue lf">办事指南</span>
                </p>
                <ul class="ullist lf of">
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                </ul>
            </div>
            <!--办事指南end-->
            <!--发布信息查询-->
            <div class="LMBOX common rt" style="border: none;padding:0;width: 320px; ">
                <ul class="publishInfo">
                    <li class="info1"><a href="">发布信息查询</a></li>
                    <li class="info2"><a href="">发布信息统计</a></li>
                    <li class="info3"><a href="">办公室信箱</a></li>
                    <li class="info4"><a href="">电话查询</a></li>
                </ul>
            </div>
            <!--发布信息查询nd-->
        </div>
        <div class="commonBox">
            <!--文件信息-->
            <div class="LMBOX common lf">
                <p class="column_Tit of">
                    <a href="" class="more rt">更多 >></a>
                    <span class="shenglue lf">文件信息</span>
                </p>
                <ul class="ullist lf of">
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                </ul>
            </div>
            <!--文件信息end-->
            <!--办事指南-->
            <div class="LMBOX common lf">
                 <p class="column_Tit of">
                    <a href="" class="more rt">更多 >></a>
                    <span class="shenglue lf">办事指南</span>
                </p>
                <ul class="ullist lf of">
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                </ul>
            </div>
            <!--办事指南end-->
            <!--发布信息查询-->
            <div class="LMBOX common lf">
                <p class="column_Tit of">
                    <a href="" class="more rt">更多 >></a>
                    <span class="shenglue lf">文件信息</span>
                </p>
                <ul class="ullist lf of">
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会 农村房地一体登记试点动员会 </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  村房地一体登记试点</a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                    <li><span>08-01</span><a href="">经开区召开农村房地一体登记试点动员会  </a></li>
                    <li><span>08-01</span><a href="">今年我市首批28个土地整理项目立项获批复  </a></li>
                    <li><span>08-01</span><a href="">经开分局强降雨期间应急演练在行动  </a></li>
                    <li><span>08-01</span><a href="">平昌县局严把“五关”推进国土项目建设    </a></li>
                </ul>
            </div>
            <!--发布信息查询nd-->
        </div>
        <!--友情链接-->
        <div class="blogroll">
            <p>友情链接</p>
            <form action="" method="" name="">
                <div class="sel">
                    <i></i>
                    <select name="" id="">
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                    </select>
                </div>
                <div class="sel">
                    <i></i>
                    <select name="" id="">
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                    </select>
                </div>
                <div class="sel">
                    <i></i>
                    <select name="" id="">
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                    </select>
                </div>
                <div class="sel">
                    <i></i>
                    <select name="" id="">
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                        <option value="">检查系统网站</option>
                    </select>
                </div>
                
            </form>
        </div>
        <!--友情链接end-->
    </div>
    <!--主体end-->

    <!--尾部star-->
    <div id="footer">
         <!--关于我们-->
         <div class="AboutUs of">
              <div class="content">
                  <ul class="of">
                        <li><a href="">关于我们 |</a></li>
                        <li><a href="">联系我们 |</a></li>
                        <li><a href="">法律声明 |</a></li>
                        <li><a href="">网站地图 |</a></li>
                        <li><a href="">后台管理</a></li>
                  </ul>
              </div>
         </div>
         <!--技术支持-->
         <div class="JSZC">
             <div class="content">
                 <ul class="of">
                    <li>
                        <p>版权所有：贵州省人民检察院版权所有</p>
                    </li>
                    <li>
                        <span>技术支持：江苏连邦信息技术有限公司</span>
                        <p>建议使用1024*768分辨率，IE7.0以上版本浏览器浏览</p>
                    </li>
                 </ul>
             </div>
         </div>
    </div>
    <!--尾部end-->

<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/html5shiv.min.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>       
<script type="text/javascript" src="js/jquery.placeholder.js"></script>
<script  type="text/javascript" src="js/policeSystem.js"></script>
</body>
</html>