<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>黔东南州检察院</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<!--解决ie低版本不兼容h5新标签,不支持placeholder问题-->
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>       
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
</head>
<body>
    <!--头部star-->
    <div id="header">
        <div class="logo"><img src="img/logo.png" alt=""></div>
    </div>
    <!--头部end-->
    <div style="width: 100%">
        <!--导航-->
        <div class="nav">
            <ul>
                <li class="index"><a href="index.html">首页</a></li>
                <li><a href="" target="">贵州头条</a></li>
                <li><a href="" target="">检察要闻</a></li>
                <li><a href="" target="">图片新闻</a></li>
                <li><a href="" target="">权威发布</a></li>
                <li><a href="" target="">以案说法</a></li>
                <li class="lastli">
                <form action="">
                    <input type="text" value="请输入关键字查询" class="lf">
                    <button class="btn lf">搜索</button>
                </form>
                </li>
            </ul>
        </div>
    </div>
    <!--检查头条-->
    <div class="JCTT of">
        <!--头条-->
        <div class="headline content">
            <img src="img/headline.png" alt="" height="83" width="87" class="headlineImg lf">
            <div class="Newheadline lf">
                <p class="NewTit"><a href="">遵义市检察院喜迎十九大 | 服务大局：检察力量护航全面小康新征程</a></p>
                <div id="broadcast" class="bar" name="giftactive">
                    <div id="demo" >
                        <ul class="rollNews" id="holder">
                            <li>
                                <a href="#" target="_blank">[以习近平为核心的党中央关心检察工作纪实1]</a>
                                <a href="#" target="_blank">[思路清　方向明——围绕大局描绘检察蓝图1]</a>
                                <a href="#" target="_blank">[动真格　出真招——保障推进健康中国建设1]</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">[以习近平为核心的党中央关心检察工作纪实2]</a>
                                <a href="#" target="_blank">[思路清　方向明——围绕大局描绘检察蓝图2]</a>
                                <a href="#" target="_blank">[动真格　出真招——保障推进健康中国建设2] </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">[以习近平为核心的党中央关心检察工作纪实2]</a>
                                <a href="#" target="_blank">[思路清　方向明——围绕大局描绘检察蓝图2]</a>
                                <a href="#" target="_blank">[动真格　出真招——保障推进健康中国建设2] </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--头条end-->
    </div>
    <!--检查头条end-->
    <!--主体star-->
    <div id="section">
        <div class="content">
        <!--首页轮播 start--> 
                    <div id="index_banner" class="lf">
                        <div id="slides">
                            <div class="slides_container">
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-1.png" width="620" height="332" alt="Slide 1">
                                    </a>
                                    <div class="caption" style="bottom:0">
                                        <p>市委三届十次全体(扩大)会议召开-1</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-2.png" width="620" height="332" alt="Slide 2">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-2</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-3.png" width="620" height="332" alt="Slide 3">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-3</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-4.png" width="620" height="332" alt="Slide 4">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-4</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-5.png" width="620" height="332" alt="Slide 5">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-5</p>
                                    </div>
                                </div>
                                
                            </div>
                            <a href="#" class="prev"><</a>
                            <a href="#" class="next">></a>
                        </div>
                    </div>
        <!--首页轮播end-->
        <!--首页选项卡start-->
                    <div class="index_news rt">
                        <div class="news_tab">
                            <ul class="tab-hd"> 
                                <li class="active">通知公告<i></i></li>
                                <li>综合要闻<i></i></li>
                                <li>各地动态<i></i></li>
                            </ul>
                            <div class="tab-bd">
                                <div class="hidden thisclass">
                                <!--头条-->
                                   <div class="headline">
                                        <p class="headline_tit shenglue">
                                            <a href=""> 贵州省检察院出台公诉司法裁量工作指导意见
                                             </a>
                                        </p>
                                        <div class="headline_cont">
                                            <p>9月22日，贵州省检察机关集中整治和加强预防扶贫领域职务犯罪专项工作扶贫专项律师执业权利主题检察开放日活动工
                                            <a href="" class="more">【详情】</a>
                                            </p>  
                                        </div>
                                   </div>
                                <!--头条-->
                                  <ul>
                                    <li><a href="">贵州省检察院出台公诉司法裁量工作指导意见 </a><span>[07-17]</span></li>
                                    <li><a href="">省院邀请75名大学生零距离了解检察工作 </a> <span>[07-17]</span></li>
                                    <li><a href="">全省检察机关侦监公诉工作研讨会召开</a> <span>[07-17]</span></li>
                                    <li><a href="">省院开展保障律师执业权利主题检察开放日活动 </a> <span>[07-17]</span></li>
                                    <li><a href="">省院召开党员代表大会选举产生机关纪委委员</a> <span>[07-17]</span></li>
                                    <li><a href="">省院贯彻落实全国检察机关智慧检务工作会精神 </a> <span>[07-17]</span></li>
                                    <li><a href="">省院召开党员代表大会选举产生机关纪委委员</a> <span>[07-17]</span></li>
                                  </ul>
                                </div>
                                <div class="hidden">内容2</div>
                                <div class="hidden">内容3</div>
                                <div class="hidden">内容4</div>
                            </div>
                        </div>                      
                    </div>
        <!--首页选项卡end-->
        </div>
        <!--天气预报-->
        <div class="content weather of">
             <img src="img/weather.png" alt="" class="lf">
             <span class="lf">贵阳今天夜间到明天白天24℃-35℃，晚间有小雨至中雨，湿度23</span>
        </div>
        <!--天气预报end-->
        <!--专题专栏-->
        <div class="content ztReport">
             <img src="img/ztzl.png" alt="" class="lf">
             <div class="box lf">
                <div class="picbox">
                    <ul class="piclist mainlist">
                        <li><a href="" target="_blank"><img src="img/1.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/2.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/3.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/4.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/1.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/2.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/3.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/4.jpg" width="254" height="80"/></a></li>   
                    </ul>
                    <ul class="piclist swaplist"></ul>
                </div>
                <div class="og_prev"></div>
                <div class="og_next"></div>
            </div>
        </div>
        <!--专题专栏-->
        <div class="content of">
            <!--登录-->
            <div class="login_box lf">
                <p class="loginTit"><span>系统登录</span></p>
                <form action="" method="" name="">
                    <input type="text" placeholder="请输入登录名">
                    <input type="password" placeholder="请输入登录密码" class="pwd">
                    <button type="submit">登录</button>
                </form>
            </div>
            <!--登录end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of" style="width: 550px;">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--法律法规查询-->
            <div class="demand lf">
                <ul class="publishInfo">
                    <li class="info1"><a href="">法律法规查询</a></li>
                    <li class="info2"><a href="">电子邮件系统</a></li>
                    <li class="info3"><a href="">行贿犯罪档案</a></li>
                    <li class="info4"><a href="">检务保障系统</a></li>
                </ul>
            </div>
            <!--法律法规查询end-->
        </div>
        <!--切换图片-->
        <div class="content QHimg of">
            <img src="img/img1.png" alt="" height="65" width="1200">
        </div>
        <!--切换图片end-->
        <div class="content of LANMU"><!--请在div.LANMU层下面追加栏目-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
        </div>
        <!--友情链接-->
        <div class="content YQlink">
            <p class="column_Tit of">
                <span class="shenglue lf">检查风采</span>
            </p>
            <div class="link">
                <ul>
                    <li><a href="">检察系统网站</a></li>
                    <li><a href="">检察院各部门网站</a></li>
                    <li><a href="">全省检察院网站</a></li>
                    <li><a href="">推荐政府网站</a></li>
                    <li><a href="">检察系统网站</a></li>
                    <li><a href="">检察院各部门网站</a></li>
                    <li><a href="">全省检察院网站</a></li>
                    <li><a href="">推荐政府网站</a></li>
                    <li><a href="">检察系统网站</a></li>
                    <li><a href="">检察院各部门网站</a></li>
                    <li><a href="">全省检察院网站</a></li>
                    <li><a href="">推荐政府网站</a></li>
                </ul>
            </div>
        </div>
        <!--友情链接end-->
    </div>
    <!--主体end-->

    <!--尾部star-->
    <div id="footer">
         <!--关于我们-->
         <div class="AboutUs of">
              <div class="content">
                  <ul class="of">
                        <li><a href="">关于我们 |</a></li>
                        <li><a href="">联系我们 |</a></li>
                        <li><a href="">法律声明 |</a></li>
                        <li><a href="">网站地图 |</a></li>
                        <li><a href="">后台管理</a></li>
                  </ul>
              </div>
         </div>
         <!--技术支持-->
         <div class="JSZC">
             <div class="content">
                 <ul class="of">
                    <li>
                        <p>版权所有：黔东南州人民检察院</p>
                    </li>
                    <li>
                        <span>技术支持：江苏连邦信息技术有限公司</span>
                        <p>建议使用1024*768分辨率，IE7.0以上版本浏览器浏览</p>
                    </li>
                 </ul>
             </div>
         </div>
    </div>
    <!--尾部end-->

<script  type="text/javascript" src="js/policeSystem.js"></script>
<script>
/*上下新闻滚动*/
        function AutoScroll(obj) {
                $(obj).find("ul:first").animate({
                     marginTop: "-30px"},3000,function() {
                $(this).css({marginTop: "0px"
            }).find("li:first").appendTo(this);});
        }
        $(document).ready(function() {
            setInterval('AutoScroll("#demo")', 1000)
        });

/*图片切换*/
        $(document).ready(function(){
            var i =1;
          //设置间隔
            setInterval(function(){
                i++;
                if(i>2){i=1;};
                $(".QHimg img").attr("src","img/"+"img"+i+".png");  
                 },2000
            );
        })
</script>
</body>
</html>