<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">



    <!--读取properties配置文件-->
    <context:property-placeholder location="classpath:**.properties" file-encoding="UTF-8" ignore-unresolvable="true"/>
    <context:component-scan base-package="com.zryq.cms.common.redis"/>
    <context:component-scan base-package="com.zryq.cms.admin.service" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>
    <!--读取mybatis配置文件-->
    <import resource="spring-mybatis.xml"/>
    <!--读取es配置-->
    <!--<import resource="spring-es.xml"/>-->
    <!--读取elastic-job配置-->
    <!--<import resource="spring-job.xml"/>-->
    <!--读取redis-->
    <import resource="spring-redis.xml"/>
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 线程池维护线程的最少数量 -->
        <property name="corePoolSize" value="50"/>
        <!-- 允许的空闲时间 -->
        <property name="keepAliveSeconds" value="300"/>
        <!-- 线程池维护线程的最大数量 -->
        <property name="maxPoolSize" value="150"/>
        <!-- 缓存队列 -->
        <property name="queueCapacity" value="50"/>
    </bean>

    <aop:aspectj-autoproxy/>
    <!--spring cache-->
    <bean id="appProperty"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <bean id="exceptionResolver" class="com.zryq.cms.resolver.MyExceptionResolver"></bean>


</beans>
