<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
    <!-- 继承自AuthorizingRealm的自定义Realm-->
    <bean id="myRealm" class="com.zryq.cms.config.realm.PersonRealm" />

    <!--Ehcache缓存-->
    <bean id="ehCacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml" />
        <property name="shared" value="true"/>
    </bean>
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="ehCacheManagerFactory" />
    </bean>
    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm" />
        <property name="cacheManager" ref="shiroCacheManager" />
    </bean>
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login" />
         <property name="successUrl" value="/index"/>
        <property name="unauthorizedUrl" value="/unauth.jsp" />
        <!--优先级顺序自上而下-->
        <property name="filterChainDefinitions">
            <value>
                /article/*/**=authc
                /column/*/**=authc
                /web/*/**=authc
                /admin/*/**=authc
                /group/*/**=authc
                /role/*/**=authc
                /scroll/*/**=authc
                /user/*/**=authc
                /admin/*/**=authc
                <!--/group/*/**=authc,roles[admin]
                /data/*/**=authc,roles[省政府督查室]-->
            </value>
        </property>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

</beans>
