/*通用盒子*/
body{
	background-color:#ffffff;
	background-size: 100%;
}
.welcome ul li:first-child{
	padding-left: 25px;
	background:url(../img/shoucang.png) no-repeat;
	background-position: 2px;
}
.welcome{
	height: 27px;
	background-color: #eee;
	line-height: 27px;
}
.welcome ul li{
	float: left;
	padding: 0 10px;
}

.content{
	width: 1200px;
	margin:0 auto;
	overflow: hidden;
}
.fff{
	background-color: #fff;
}
.shenglue{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#header{
	width: 100%;
	height:177px;
	margin:0 auto;
	overflow: hidden;
}
.logo{
	width: 1200px;
	margin:0 auto;
	height:150px;
	line-height: 150px;
}
.logo img{
	vertical-align: middle;
}
.search input{
	width: 305px;
	height: 40px;
	padding:0px 40px 0 20px;
	border:none;
	background: url(../img/search.png) no-repeat right;
	background-position:330px;
	background-color: #eee;
}
/**/
#section {
	background:url(../img/sectionbg.png) no-repeat;
	background-size: 100%;
	background-position-y:33px; 
	overflow: hidden;
}
#section .nav {
    width: 100%;
    height: 64px;
    background-color: #1869c4;
}
#section .nav ul {
    width: 1200px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    font-size: 16px;
}
#section .nav ul li.index {
    background-color: #3b8ae3;
}
#section .nav ul li {
    width: 12.5%;
    float: left;
    text-align: center;
    border-right: 1px solid #3a88e0;
}
#section .nav ul li.last{
	width: 24%;
	color:#fff;
}
#section .nav ul li:hover{
	background-color: #3b8ae3;
}
#section .nav ul li a {
    color: #fff;
}
/*头条新闻*/
img.headlineImg{
	padding-left: 10px;
}
div.headline{
	height: 83px;
	background-color: #fff;
	margin-top: 60px;
	padding:10px 0px;
}
div.Newheadline{
	height: 83px;
	width: 1070px;
	margin-left: 30px;
}
p.NewTit a{
	font-size: 34px;
	color:#083596;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*新闻上下滚动*/
#broadcast{
	margin-top: 6px;
}
#demo{
	overflow:hidden;
	height:30px;
	line-height:30px;
}
.rollNews li a{
	width: 300px;
	margin-left: 34px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color:#666;
}
/*banner*/
.banner{
	height: 390px;
	padding-bottom: 60px;
}
/*首页banner*/
div#index_banner{
	width:712px;
	height: 390px;
	position:relative;
	z-index:0;
	float: left;
}
div#index_banner #slides {
	position:absolute;
	left:0px;
	z-index:100;
}
#slides .next,#slides .prev {
	position:absolute;
	top:168px;
	left:0px;
	width:24px;
	height:37px;
	line-height: 37px;
	display:block;
	z-index:101;
	background: rgba(0,0,0,.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); /*IE8支持*/
	opacity: .6; 
	font-size: 20px;
    color: #fff;
    text-align: center;
}
.slides_container {
	width:712px;
	height:390px;
	overflow:hidden;
	position:relative;
}
#slides .next {
	left:688px;
}
div#index_banner .pagination{
	width:100px;
	position: absolute;
	bottom: 12px;
	right:7px;
	z-index: 5;
}
.pagination li {
	float:left;
	margin:0 3px;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}

div#index_banner .caption {
	position:absolute;
	left: 1px;
	bottom:-40px;
	height:50px;
	padding:5px 20px 0 20px;
	background: rgba(0,0,0,.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); /*IE8支持*/
	width:672px;
	line-height:2;
	color:#fff;
	text-shadow:none;
}
.index_news{
	height: 330px;
	overflow: hidden;
}
.RTcolumn{
	width: 448px;
	height: 350px;
	padding: 20px;
	background-color: #1869c4;
}
.column_ul li{
	padding:6px 0 6px 20px;
	background: url(../img/listICO.png) no-repeat;
	background-position: 0px 13px;
}
.column_ul li a,.column_ul li span{
	color:#fff;
}
.column_ul li span{
	float: right;
}
/************/
/*登录*/
div.login_box {
    background-color: #fff;
    width: 300px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid #ddd;
}
p.loginTit {
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}
p.loginTit span {
    display: inline-block;
    font-size: 18px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #083596;
    text-align: center;
}
div.login_box input {
    width: 252px;
    height: 42px;
    line-height: 42px;
    margin-top: 20px;
    padding-left: 40px;
    background: url(../img/user.png) no-repeat left;
    border: 1px solid #d9d9d9;
}
div.login_box button {
    margin: 30px;
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 18px;
}
.JianChaDT{
	width: 490px;
	margin:0 10px;
}
/*栏目*/
div.column_box{
	padding:0px 15px 10px 15px;
	background-color: #fff;
	width: 460px;
	height: 270px;
}
p.column_Tit{
	width: 100%;
	border:1px solid #d9d9d9;
}
p.column_Tit a.more{
	display: inline-block;
	height: 52px;
	line-height: 52px;
	color:#999;
	font-size:15px;
}
p.column_Tit span{
	display: inline-block;
	height:52px;
	line-height: 52px;
	width: 130px;
	font-size: 18px;
	color:#fff;
	text-align: center;
	background-color: #1869c4;
}
ul.column_list{
	height: 222px;
}
ul.column_list li{
	padding:7px 10px 7px 10px;
	background:url(../img/list.png) no-repeat left; 
}
ul.column_list li span{
	float: right;
	color:#999999;
}
ul.column_list li a{
	display: inline-block;
	width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
ul.column_list li a:hover{
	color:#083596;
}
ul.column_list li span{
	width: 30%;
	text-align: right;
}
/*查询*/
.publishInfo li{
	height: 61px;
	line-height: 61px;
	text-align: left;
	margin-bottom: 10px;
}

li.info1{
	background-color: #73b2e8;
}
li.info2{
	background-color: #91a0f5;
}
li.info3{
	background-color: #8291e9;
}
li.info4{
	background-color: #73b2e8;
}

.publishInfo li a{
	font-size: 20px;
	color:#fff;
	padding-left: 114px;
	height: 68px;
	line-height: 68px;
	display: inline-block;
	background-position: 40px;
}
.demand{
	width: 366px;
	height: 284px;
	overflow: hidden;
}
div.QHimg{
	margin:30px auto;
}
/*检察文化 检查摘要 检查论坛*/
div.LANMU div.JianChaDT{
	width: 400px;
	margin:0px;
	margin-bottom: 10px;
}
div.LANMU div.JianChaDT div.column_box{
	width: 385px;
	padding: 0px 15px 10px 0px;
}
div.RegionsJCY{
	width: 100%;
	padding: 10px 0;
	background-color: #e3e6ea;
	text-align: center;
}
div.RegionsJCY select{
	width: 232px;
    padding: 8.5px 0;
	border:1px solid #ddd;
	background-color: #fff;
	text-align: center;
}
/*尾部*/
.footer{
	width: 100%;
	padding: 40px 0;
	background-color: #173a8e;
	text-align: center;
}
.footer ul{
	display:inline-block;
}
.footer ul li{
	float: left;
	color:#fff;
	padding: 6px;
}
/**列表页**/
p.listTit{
	text-align: center;
	height: 64px;
	line-height: 64px;
	width: 152px;
	background:url(../img/titbg.png) no-repeat;
}
p.listTit span{
	display: inline-block;
	width: 90px;
    font-size: 20px;
	color: #fff;
}
div.breadNav ul li{
	float: left;
	padding: 0 4px;
}
li.MyLocation a{
	padding-left:26px;
	background: url(../img/house.png) no-repeat;
}
div.breadNav{
	height:64px;
	line-height: 64px;
}
.listNav{
	margin:20px 12px;
}
.list{
	margin:0 12px;
	padding-bottom: 20px;
}
.RTcont{
	margin-left:70px;
	width: 860px;
}
.RTcont ul li{
	width: 100%;
	border-bottom:1px solid #ddd;
	padding:18px 0;
}
.RTcont ul li span{
	float: right;
	color:#666;
}
.RTcont ul li a{
	font-size: 16px;
}
.list_content{
	margin-top: 18px;
	margin-bottom: 60px;
}
/*文章详情*/
p.RtTiT{
	font-size: 26px;
	color: #000;
	text-align: center;
}
div.source{
	background-color: #f5f5f5;
	width: 640px;
	height: 38px;
	line-height: 38px;
	margin-left: 110px;
	margin:22px auto; 
}
div.source span{
	color:#6d6d6d;
	font-size: 14px;
	display: inline-block;
	margin-left: 40px;
}
div.WZdetails p{
	font-size: 14px;
	color:#333;
	line-height:28px;
}

/**/
.sel{
	position: relative;
	overflow: hidden;
	width: 232px;
	float: left;
	margin-left: 52px;
}
.sel i{
	display:inline-block;
	position: absolute;
	top:1px;
	right: 1px;
	width: 36px;
	height: 36px;
	background:url(../img/selectbg.png) no-repeat;
	z-index: 9999999;
}