<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>黔西南州检察院</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<!--解决ie低版本不兼容h5新标签,不支持placeholder问题-->
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>       
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
</head>
<body>
    <!--头部star-->
    <div id="header">
        <div class="logo"><img src="img/logo.png" alt=""></div>
    </div>
    <!--头部end-->
    <div style="width: 100%">
        <!--导航-->
        <div class="nav">
            <ul>
                <li class="index"><a href="index.html">首页</a></li>
                <li><a href="" target="">贵州头条</a></li>
                <li><a href="" target="">检察要闻</a></li>
                <li><a href="" target="">图片新闻</a></li>
                <li><a href="" target="">权威发布</a></li>
                <li><a href="" target="">以案说法</a></li>
                <li style="width: 25%;height: 50px;line-height: 50px;">
                <form action="">
                    <input type="text" value="请输入关键字查询" class="lf">
                    <button class="btn lf"></button>
                </form>
                </li>
            </ul>
        </div>
    </div>
    <!--主体star-->
    <div id="section">
        <div class="content">
        <!--首页轮播 start--> 
                    <div id="index_banner" class="lf">
                        <div id="slides">
                            <div class="slides_container">
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-1.png" width="620" height="332" alt="Slide 1">
                                    </a>
                                    <div class="caption" style="bottom:0">
                                        <p>市委三届十次全体(扩大)会议召开-1</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-2.png" width="620" height="332" alt="Slide 2">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-2</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-3.png" width="620" height="332" alt="Slide 3">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-3</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-4.png" width="620" height="332" alt="Slide 4">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-4</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-5.png" width="620" height="332" alt="Slide 5">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-5</p>
                                    </div>
                                </div>
                                
                            </div>
                            <a href="#" class="prev"><</a>
                            <a href="#" class="next">></a>
                        </div>
                    </div>
        <!--首页轮播end-->
        <!--首页选项卡start-->
                    <div class="index_news rt">
                        <div class="news_tab">
                            <ul class="tab-hd"> 
                                <li class="active">通知公告<i></i></li>
                                <li>综合要闻<i></i></li>
                                <li>各地动态<i></i></li>
                            </ul>
                            <div class="tab-bd">
                                <div class="hidden thisclass">
                                <!--头条-->
                                   <div class="headline">
                                        <p class="headline_tit shenglue">
                                        <a href="">贵州省检察院出台公诉司法裁量工作指导意见</a>
                                        </p>
                                   </div>
                                <!--头条-->
                                  <ul>
                                    <li><a href="">贵州省检察院出台公诉司法裁量工作指导意见 </a><span>[07-17]</span></li>
                                    <li><a href="">省院邀请75名大学生零距离了解检察工作 </a> <span>[07-17]</span></li>
                                    <li><a href="">全省检察机关侦监公诉工作研讨会召开</a> <span>[07-17]</span></li>
                                    <li><a href="">省院开展保障律师执业权利主题检察开放日活动 </a> <span>[07-17]</span></li>
                                    <li><a href="">省院召开党员代表大会选举产生机关纪委委员</a> <span>[07-17]</span></li>
                                    <li><a href="">省院贯彻落实全国检察机关智慧检务工作会精神 </a> <span>[07-17]</span></li>
                                    <li><a href="">省院召开党员代表大会选举产生机关纪委委员</a> <span>[07-17]</span></li>
                                  </ul>
                                </div>
                                <div class="hidden">内容2</div>
                                <div class="hidden">内容3</div>
                                <div class="hidden">内容4</div>
                            </div>
                        </div>                      
                    </div>
        <!--首页选项卡end-->
        </div>
        <!--切换图片-->
        <div class="content QHimg of">
            <img src="img/img1.png" alt="" height="65" width="1200">
        </div>
        <!--切换图片end-->
        <!--登录-->
        <div class="content">
            <!--登录-->
            <div class="login_box lf">
                <p class="loginTit"><span>系统登录</span></p>
                <form action="" method="" name="">
                    <input type="text" placeholder="请输入登录名">
                    <input type="password" placeholder="请输入登录密码" class="pwd">
                    <button type="submit">登录</button>
                </form>
            </div>
            <!--登录end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
        </div>
        <!--登录end-->
        <!--专题专栏-->
        <div class="content ztReport">
             <img src="img/ztzl.png" alt="" class="lf">
             <div class="box lf">
                <div class="picbox">
                    <ul class="piclist mainlist">
                        <li><a href="" target="_blank"><img src="img/1.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/2.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/3.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/4.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/1.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/2.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/3.jpg" width="254" height="80"/></a></li>
                        <li><a href="" target="_blank"><img src="img/4.jpg" width="254" height="80"/></a></li>   
                    </ul>
                    <ul class="piclist swaplist"></ul>
                </div>
                <div class="og_prev"></div>
                <div class="og_next"></div>
            </div>
        </div>
        <!--专题专栏-->
        <div class="content of LANMU"><!--请在div.LANMU层下面追加栏目-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
        </div>
        <div class="content shenglue of SETBOX">
                <form action="" method="" name="">
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                </form>
            </div>
    </div>
    <!--主体end-->

    <!--尾部-->
    <div class="footer">
          <div class="content of">
            <ul class="of">
                <li><a href="">网站首页 |</a></li>
                <li><a href="">本院概况 |</a></li>
                <li><a href="">检察要闻 |</a></li>
                <li><a href="">网站首页 |</a></li>
                <li><a href="">本院概况 |</a></li>
                <li><a href="">检察要闻 |</a></li>
                <li><a href="">检察要闻 |</a></li>
            </ul><br>
            <ul class="of">
                <li>版权所有：遵义市人民检察院 |</li>
                <li>贵ICP备08000571号-2 |</li>
                <li>贵公网安备 45100202000135号</li>
            </ul><br>
            <ul class="of">
                <li>Copyright@2012-2017 All rights reserved</li>
                <li>技术支持：江苏连邦信息技术有限公司</li>
            </ul>
          </div>
    </div>
    <!--尾部end-->

<script  type="text/javascript" src="js/policeSystem.js"></script>
<script>
/*图片切换*/
        $(document).ready(function(){
            var i =1;
          //设置间隔
            setInterval(function(){
                i++;
                if(i>2){i=1;};
                $(".QHimg img").attr("src","img/"+"img"+i+".png");  
                 },2000
            );
        })
</script>
</body>
</html>