<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>文章详情</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
	<!--解决ie低版本不兼容h5新标签,不支持placeholder问题-->
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/html5shiv.min.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>       
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <style>
         #section {
               background: none;
               background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <!--头部star-->
    <div id="header">
        <div class="welcome">
            <div class="content">
                <ul class="rt">
                    <li><a href="">网站导航 </a></li>
                    <li><a href="">设为首页</a></li>
                    <li><a href="">加入收藏</a></li>
                </ul>
                <p>欢迎登陆遵义市检察院！</p>
            </div>
        </div>
        <div class="logo">
            <img src="img/logo.png" alt="">
            <div class="search rt of">
                <form action="" method="" name="">
                    <input type="text" placeholder="请输入搜索信息">
                </form>
            </div>
        </div>
        
    </div>
    <!--头部end-->

    <!--主体star-->
    <div id="section">
        <!--导航-->
        <div class="nav">
            <ul>
                <li class="index"><a href="index.html">首页</a></li>
                <li><a href="" target="">系统通知</a></li>
                <li><a href="" target="">工作报告</a></li>
                <li><a href="" target="">内部刊物</a></li>
                <li><a href="" target="">资讯中心</a></li>
                <li><a href="" target="">机关管理规定</a></li>
                <li><a href="" target="">法规规章</a></li>
            </ul>
        </div>
        <div class="list_content content fff">
             <!--面包屑导航-->
             <div class="listNav">
                 <div class="breadNav rt of">
                    <ul class="of">
                        <li class="MyLocation"><a href="">我的位置 :</a></li>
                        <li><a href="index.html">首页 ></a></li>
                        <li><a href="">新闻中心 ></a></li>
                    </ul>
                </div>
                <p class='listTit'><span class="shenglue">新闻资讯</span></p>
                  
             </div>
             <!--列表-->
             <div class="list of">
                    <ul class="expmenu lf">
                        <li>
                            <div class="header">
                                <span class="label" >首页  </span>
                                <span class="arrow up"></span>
                            </div>
                            <ul class="menu" style="display:block;">
                                <li><i></i><a href="javascript:void(0)">系统通知</a></li>
                                <li><i></i><a href="javascript:void(0)">工作报告</a></li>
                                <li><i></i><a href="javascript:void(0)">内部刊物</a></li>
                                <li><i></i><a href="javascript:void(0)">资讯中心</a></li>
                                <li><i></i><a href="javascript:void(0)">机关管理规定 </a></li>
                                <li><i></i><a href="javascript:void(0)">法规规章</a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <div class="header">
                                <span class="label">栏目</span>
                                <span class="arrow down"></span>
                            </div>
                            <ul class="menu">
                                <li><i></i><a href="javascript:void(0)">系统通知</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <!--右侧内容-->
                    <div class="RTcont lf">
                        <p class="RtTiT">贵州省检察机关集中整治和加强预防扶贫领域职务犯罪</p>
                        <div class="source">
                            <span>来源:贵阳市检察院</span>
                            <span>作者：办公室2   </span>
                            <span>发布时间：17-10-10</span>
                            <span>浏览（66）</span>
                        </div>
                        <div class="WZdetails">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;何冀指出，全省检察机关要站在旗帜鲜明讲政治的高度，深刻认识秋季攻势、攻克深度贫困的政治意义，进一步增强服从服务脱贫攻坚大局的使命感和责任感，保持政治定力、战略定力、工作定力，以更大的决心、更明确的思路、更精准的举措、超常规的力度，为坚决打赢脱贫攻坚这场输不起的硬仗提供有力司法保障。</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;何冀强调，全省各级院要紧紧围绕基础设施建设、易地搬迁扶贫硬仗、产业扶贫教育医疗住房“三保障”，集中火力，瞪大眼睛、拉长耳朵，“老虎”“苍蝇”一起打，形成有力震慑效应，坚决打好专项工作“运动战”。要精准发力，在精准预防、精准宣教、精准监督上下功夫见成效，当好扶贫攻坚的“服务者”、贫困群众的“保护者”、廉洁扶贫的“捍卫者”。下好“绣花”功夫，织密织牢立体防护网，促进干部干净干事、廉洁扶贫，切实打好专项工作“阵地战”。要继续把专项工作作为“一把手”工程来抓，主动向中央、省委部署的脱贫攻坚任务对标看齐，立下“军令状”，实行“倒计时”，制定“作战图”，用好“指挥棒”，配强“突击队”，倒排时间，落实责任，强力推进，确保思想不散、工作不断、队伍不乱。</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黔南州院党组副书记、副检察长金亦贱介绍了黔南州检察机关开展集中整治和加强预防扶贫领域职务犯罪专项工作经验做法，遵义市院黔东南州院、福泉市院分别在会上做了交流发言。省院相关部门负责人，各市州院扶贫专项工作领导小组组长、扶贫专项工作领导小组办公室主任，承办异地扶贫搬迁重点工程挂牌督办的基层院扶贫专项工作领导小组组长参加会议。会前，与会代表参观了黔南州福泉市牛场镇易地扶贫搬迁“五新社区”安置点、双谷村“高效农业产业示范园区”，实地观摩扶贫专项工作取得的成效。</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据了解，全省检察机关1－8月立案查办民生领域职务犯罪案件798件1036人，其中，县处级以上要案58人，乡镇站所、农村基层组织人员375人，通过办案为国家挽回直接经济损失约2.9亿元；依法批准逮捕涉及扶贫民生领域的职务犯罪案件281件307人，起诉277件358人深入开展专项预防调查373次，宣讲政策法律、警示教育8667次，向各级政府、有关部门提出堵漏建制的预防检察建议442份，推动完善管理制度和监督机制192个，介入321个重点民生项目开展职务犯罪预防，为国家2464亿元项目扶贫资金安全提供司法保障。</p>
                        </div>
                    </div>
                    <!--右侧内容end-->
             </div>
             <!--分页-->
             <div class="Paging"></div>
        </div>
    </div>
    <!--主体end-->

   <!--尾部-->
    <div class="footer">
          <div class="content of">
            <ul class="of">
                <li>版权所有：遵义市人民检察院 |</li>
                <li>贵ICP备08000571号-2 |</li>
                <li>贵公网安备 45100202000135号</li>
            </ul><br>
            <ul class="of">
                <li>Copyright@2012-2017 All rights reserved</li>
                <li>技术支持：江苏连邦信息技术有限公司</li>
            </ul>
          </div>
    </div>
    <!--尾部end-->




<script  type="text/javascript" src="js/policeSystem.js"></script>
</body>
</html>