<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>遵义市检察院</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
    <!--解决ie低版本不兼容h5新标签,不支持placeholder问题-->
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>       
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>

</head>
<body>
    <!--头部star-->
    <div id="header">
        <div class="welcome">
            <div class="content">
                <ul class="rt">
                    <li><a href="">网站导航 </a></li>
                    <li><a href="">设为首页</a></li>
                    <li><a href="">加入收藏</a></li>
                </ul>
                <p>欢迎登陆遵义市检察院！</p>
            </div>
        </div>
        <div class="logo">
            <img src="img/logo.png" alt="">
            <div class="search rt of">
                <form action="" method="" name="">
                    <input type="text" placeholder="请输入搜索信息">
                </form>
            </div>
        </div>
        
    </div>
    <!--头部end-->

    <!--主体star-->
    <div id="section">
        <!--导航-->
        <div class="nav">
            <ul>
                <li class="index"><a href="index.html">网站首页</a></li>
                <li><a href="" target="">本院概况 </a></li>
                <li><a href="" target="">检察要闻  </a></li>
                <li><a href="" target="">检察动态  </a></li>
                <li><a href="" target="">检察风采  </a></li>
                <li><a href="" target="">检察风采  </a></li>
                <li class="last">今天是2017年10月19日星期三</li>
            </ul>
        </div>
        <!--导航end-->
        <!--头条-->
        <div class="headline content">
            <img src="img/headline.png" alt="" height="83" width="87" class="headlineImg lf">
            <div class="Newheadline lf">
                <p class="NewTit"><a href="">遵义市检察院喜迎十九大 | 服务大局：检察力量护航全面小康新征程</a></p>
                <div id="broadcast" class="bar" name="giftactive">
                    <div id="demo" >
                        <ul class="rollNews" id="holder">
                            <li>
                                <a href="#" target="_blank">[以习近平为核心的党中央关心检察工作纪实1]</a>
                                <a href="#" target="_blank">[思路清　方向明——围绕大局描绘检察蓝图1]</a>
                                <a href="#" target="_blank">[动真格　出真招——保障推进健康中国建设1]</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">[以习近平为核心的党中央关心检察工作纪实2]</a>
                                <a href="#" target="_blank">[思路清　方向明——围绕大局描绘检察蓝图2]</a>
                                <a href="#" target="_blank">[动真格　出真招——保障推进健康中国建设2] </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">[以习近平为核心的党中央关心检察工作纪实2]</a>
                                <a href="#" target="_blank">[思路清　方向明——围绕大局描绘检察蓝图2]</a>
                                <a href="#" target="_blank">[动真格　出真招——保障推进健康中国建设2] </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--头条end-->
        <!--banner-->
        <div class="content banner">
                    <div id="index_banner" class="lf">
                        <div id="slides">
                            <div class="slides_container">
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-1.png" width="712" height="390" alt="Slide 1">
                                    </a>
                                    <div class="caption" style="bottom:0">
                                        <p>市委三届十次全体(扩大)会议召开-1</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-2.png" width="712" height="390" alt="Slide 2">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-2</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-3.png" width="712" height="390" alt="Slide 3">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-3</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-4.png" width="712" height="390" alt="Slide 4">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-4</p>
                                    </div>
                                </div>
                                <div>
                                    <a href="" target="_blank">
                                        <img src="img/slide-5.png" width="712" height="390" alt="Slide 5">
                                    </a>
                                    <div class="caption">
                                        <p>市委三届十次全体(扩大)会议召开-5</p>
                                    </div>
                                </div>
                                
                            </div>
                            <a href="#" class="prev"><</a>
                            <a href="#" class="next">></a>
                        </div>
                    </div>
                    <!--右侧栏目-->
                    <div class="RTcolumn rt">
                         <ul class="column_ul">
                            <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                            <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                            <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                            <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                            <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                            <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                            <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                            <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                            <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                            <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                            <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        </ul>
                    </div>
                    <!--右侧栏目end-->

        </div>
        <!--bannerend-->
        <div class="content of">
            <!--登录-->
            <div class="login_box lf">
                <p class="loginTit"><span>系统登录</span></p>
                <form action="" method="" name="">
                    <input type="text" placeholder="请输入登录名">
                    <input type="password" placeholder="请输入登录密码" class="pwd">
                    <button type="submit">登录</button>
                </form>
            </div>
            <!--登录end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--法律法规查询-->
            <div class="demand lf">
                <ul class="publishInfo">
                    <li class="info1"><a href="">法律法规查询</a></li>
                    <li class="info2"><a href="">电子邮件系统</a></li>
                    <li class="info3"><a href="">行贿犯罪档案</a></li>
                    <li class="info4"><a href="">检务保障系统</a></li>
                </ul>
            </div>
            <!--法律法规查询end-->
        </div>
        <!--切换图片-->
        <div class="content QHimg of">
            <img src="img/img1.png" alt="" height="65" width="1200">
        </div>
        <!--切换图片end-->
        <div class="content of LANMU"><!--请在div.LANMU层下面追加栏目-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
            <!--检查动态-->
            <div class="JianChaDT of lf">
                <div class="column_box lf of">
                    <p class="column_Tit of">
                        <a href="" class="more rt">MORE +&nbsp;&nbsp;&nbsp;</a>
                        <span class="shenglue lf">检查风采</span>
                    </p>
                    <ul class="column_list w100 of">
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">贵州省检察院出台公诉司法指导意见</a></li>
                        <li><span>2017-10-13</span><a href="">省院邀请75名大学生零距离检察工作</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                        <li><span>2017-10-13</span><a href="">全省检察机关侦监公诉工作研讨会</a></li>
                    </ul> 
                </div>
            </div>
            <!--检查动态end-->
        </div>
        <!--各州市检察院-->
        <div class="RegionsJCY">
            <div class="content shenglue of">
                <form action="" method="" name="" >
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                    <div class="sel">
                        <i></i>
                        <select name="" id="">
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                            <option value="">检查系统网站</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <!--各州市检察院end-->
    </div>
    <!--主体end-->
    <!--尾部-->
    <div class="footer">
          <div class="content of">
            <ul class="of">
                <li>版权所有：遵义市人民检察院 |</li>
                <li>贵ICP备08000571号-2 |</li>
                <li>贵公网安备 45100202000135号</li>
            </ul><br>
            <ul class="of">
                <li>Copyright@2012-2017 All rights reserved</li>
                <li>技术支持：江苏连邦信息技术有限公司</li>
            </ul>
          </div>
    </div>
    <!--尾部end-->


<script type="text/javascript" src="js/policeSystem.js"></script>
<script>
/*上下新闻滚动*/
        function AutoScroll(obj) {
                $(obj).find("ul:first").animate({
                     marginTop: "-30px"},3000,function() {
                $(this).css({marginTop: "0px"
            }).find("li:first").appendTo(this);});
        }
        $(document).ready(function() {
            setInterval('AutoScroll("#demo")', 1000)
        });

/*图片切换*/
        $(document).ready(function(){
            var i =1;
          //设置间隔
            setInterval(function(){
                i++;
                if(i>2){i=1;};
                $(".QHimg img").attr("src","img/"+"img"+i+".png");  
                 },2000
            );
        })
</script>
</body>
</html>