<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zryq.cms.admin.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.zryq.cms.admin.entity.Comment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="comm_content" property="commContent" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_ip" property="userIp" jdbcType="VARCHAR"/>
        <result column="comm_time" property="commTime" jdbcType="TIMESTAMP"/>
        <result column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        <result column="comm_state" property="commState" jdbcType="INTEGER"/>
        <result column="web_id" property="webId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="("
                                             close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="("
                                             close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, comm_content, user_id, user_ip, comm_time, article_id, article_title, comm_state,
        web_id
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.zryq.cms.admin.entity.CommentExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from cms_comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cms_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from cms_comment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.zryq.cms.admin.entity.CommentExample">
        delete from cms_comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.zryq.cms.admin.entity.Comment">
        insert into cms_comment (id, comm_content, user_id,
        user_ip, comm_time, article_id,
        article_title, comm_state, web_id
        )
        values (#{id,jdbcType=INTEGER}, #{commContent,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
        #{userIp,jdbcType=VARCHAR}, #{commTime,jdbcType=TIMESTAMP}, #{articleId,jdbcType=INTEGER},
        #{articleTitle,jdbcType=VARCHAR}, #{commState,jdbcType=INTEGER}, #{webId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zryq.cms.admin.entity.Comment">
        insert into cms_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="commContent != null">
                comm_content,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userIp != null">
                user_ip,
            </if>
            <if test="commTime != null">
                comm_time,
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="articleTitle != null">
                article_title,
            </if>
            <if test="commState != null">
                comm_state,
            </if>
            <if test="webId != null">
                web_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="commContent != null">
                #{commContent,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userIp != null">
                #{userIp,jdbcType=VARCHAR},
            </if>
            <if test="commTime != null">
                #{commTime,jdbcType=TIMESTAMP},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="articleTitle != null">
                #{articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="commState != null">
                #{commState,jdbcType=INTEGER},
            </if>
            <if test="webId != null">
                #{webId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zryq.cms.admin.entity.CommentExample"
            resultType="java.lang.Integer">
        select count(*) from cms_comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update cms_comment
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.commContent != null">
                comm_content = #{record.commContent,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.userIp != null">
                user_ip = #{record.userIp,jdbcType=VARCHAR},
            </if>
            <if test="record.commTime != null">
                comm_time = #{record.commTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.articleId != null">
                article_id = #{record.articleId,jdbcType=INTEGER},
            </if>
            <if test="record.articleTitle != null">
                article_title = #{record.articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.commState != null">
                comm_state = #{record.commState,jdbcType=INTEGER},
            </if>
            <if test="record.webId != null">
                web_id = #{record.webId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update cms_comment
        set id = #{record.id,jdbcType=INTEGER},
        comm_content = #{record.commContent,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=INTEGER},
        user_ip = #{record.userIp,jdbcType=VARCHAR},
        comm_time = #{record.commTime,jdbcType=TIMESTAMP},
        article_id = #{record.articleId,jdbcType=INTEGER},
        article_title = #{record.articleTitle,jdbcType=VARCHAR},
        comm_state = #{record.commState,jdbcType=INTEGER},
        web_id = #{record.webId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zryq.cms.admin.entity.Comment">
        update cms_comment
        <set>
            <if test="commContent != null">
                comm_content = #{commContent,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="userIp != null">
                user_ip = #{userIp,jdbcType=VARCHAR},
            </if>
            <if test="commTime != null">
                comm_time = #{commTime,jdbcType=TIMESTAMP},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=INTEGER},
            </if>
            <if test="articleTitle != null">
                article_title = #{articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="commState != null">
                comm_state = #{commState,jdbcType=INTEGER},
            </if>
            <if test="webId != null">
                web_id = #{webId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zryq.cms.admin.entity.Comment">
        update cms_comment
        set comm_content = #{commContent,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=INTEGER},
        user_ip = #{userIp,jdbcType=VARCHAR},
        comm_time = #{commTime,jdbcType=TIMESTAMP},
        article_id = #{articleId,jdbcType=INTEGER},
        article_title = #{articleTitle,jdbcType=VARCHAR},
        comm_state = #{commState,jdbcType=INTEGER},
        web_id = #{webId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
